@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-poppins overflow-x-hidden;
	color: #282828;
}

@layer projectStyles {
	/* UTIITY */

	.heading-secondary {
		font-size: 30px !important;
		line-height: 1.2;
		font-weight: 500 !important;

		@screen lg {
			font-size: 40px !important;
		}
	}

	.para-dark {
		color: rgba(40, 40, 40, 0.7);
	}

	.para-light {
		color: rgba(255, 255, 255, 0.8);
	}

	.btn {
		color: white !important;
		@apply px-4 py-2 xl:py-3 xl:px-8 rounded-full;
	}

	.btn--primary {
		@apply bg-color-primary hover:opacity-90;
	}

	.btn--secondary {
		@apply bg-color-secondary hover:opacity-90;
	}

	/* GENERAL STYLINGS */
	.header {
		@apply flex items-center justify-between px-16 py-4 lg:gap-10 xl:gap-40 lg:px-32 xl:px-36 lg:py-6 bg-color-header;
	}

	.nav {
		width: 100%;

		.nav__links {
			@apply hidden lg:flex gap-10;
		}

		.nav__link {
			@apply md:text-base;
		}

		.nav__buttons {
			@apply flex gap-10 ml-auto;
		}
	}

	/* MOBILE NAV */

	.menu-icon {
		@apply text-3xl cursor-pointer;
	}

	.btn-mobile-nav {
		box-shadow: -10px 0px 5px 0px rgba(0, 0, 0, 0.2);
		@apply ml-auto lg:hidden;
	}

	#btn-mobile-menu {
		@apply lg:hidden;
	}

	.nav-mobile {
		transform: translateX(120%);
		transition: all 0.2s;
		@apply absolute top-0 right-0 bottom-0 z-50 bg-white px-8 py-4;

		@screen sm {
			width: 60%;
		}

		@screen md {
			width: 40%;
		}
	}

	.header.open-nav .nav-mobile {
		transform: translateX(0);
	}

	.nav-mobile__links {
		@apply flex flex-col gap-6;
	}

	.nav-mobile__links li {
		@apply first:ml-auto first:mr-8 last:mt-8;
	}

	.nav-mobile__link {
		@apply text-xl;
	}

	/* HERO SECTION */
	.section-hero {
		@apply flex items-center justify-center px-8 py-16 lg:px-32;
	}

	.hero-content {
		@apply text-center flex flex-col items-center justify-center gap-4;

		h1 {
			font-size: 40px !important;
			line-height: 1.2;

			font-weight: 500 !important;

			@screen lg {
				font-size: 70px !important;
				line-height: 92px;
			}
		}

		p {
			@apply lg:text-xl font-medium lg:w-[50%];
			color: rgba(40, 40, 40, 0.7);
		}

		button {
			color: black !important;
			font-size: 22px !important;
			font-weight: 500 !important;
			@apply flex items-center gap-1;

			.icon {
				@apply h-10 w-10 bg-color-primary flex items-center justify-center rounded-full;
				box-shadow: 0 5px 0 0 rgba(42, 8, 150, 0.3);
				transition: all 0.2s;

				i {
					color: #fff;
				}
			}
		}

		button:active .icon {
			box-shadow: 0 2px 0 0 currentColor;
			transform: translatey(2px);
		}
	}

	/* DASHBOARD OVERVIEW */
	.section-dashboard-overview {
		@apply h-[50vh] lg:h-[100vh] flex items-center justify-center mb-16;
		transform: skewy(0deg);
		background: linear-gradient(to right bottom, #87cefa, #2a0896);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;

		@screen lg {
			transform: skewy(7deg);
		}
	}

	.section-dashboard-overview > * {
		transform: skewy(0deg);

		@screen lg {
			transform: skewy(-7deg);
		}
	}

	.dashboard-img {
		width: 100%;
		height: 100%;
		background: url(/assets/dashboard-preview.png) no-repeat center
			center/contain;

		@screen lg {
			width: calc(100% - 5%);
			background: url(/assets/dashboard-preview.png) no-repeat center
				center/contain;
		}
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	/* SECTION ABOUT*/
	.section-about {
		@apply px-16 py-6 lg:py-16 lg:px-32;
	}

	.about-container {
		max-width: 900px;
		margin: 0 auto;
		@apply flex flex-col items-center gap-8;
	}

	.about-row {
		@apply flex flex-col lg:flex-row items-center gap-8;
		font-weight: 500;

		figure {
			@apply w-full order-2 lg:lg:-order-none;

			img {
				@apply object-cover lg:ml-[-2rem];
			}
		}
	}

	.about-content {
		@apply order-1 lg:-order-none flex flex-col gap-4 mb-16 ml-8;

		h3 {
			font-size: 32px !important;
		}
		p {
			font-size: 22px;
			color: rgba(40, 40, 40, 0.7);
		}
	}

	/* SECTION COLLAB-OVERVIEW */

	.collab {
		width: calc(100% - 10%);
		@apply flex flex-col gap-8 lg:gap-0 lg:flex-row items-center py-6  bg-color-neutral-1 lg:h-[500px] my-0 mx-auto px-10 rounded-3xl;

		.collab__content {
			@apply lg:basis-1/2;

			p {
				@apply lg:w-9/12;
				margin-top: 1rem !important;
			}
		}

		.collab__image {
			@apply w-full lg:basis-1/2;
		}

		@screen lg {
			width: calc(100% - 20%);
		}
	}

	/* SECTION CTA */
	.section-cta {
		@apply py-8 lg:py-16;
	}

	.cta {
		width: calc(100% - 10%);
		@apply flex items-center gap-12 bg-color-neutral-2 h-[400px] my-0 mx-auto px-12 rounded-3xl relative overflow-hidden before:absolute before:w-[15rem] before:h-[15rem] before:bg-color-primary before:rounded-full before:top-[-8rem] before:left-[-12rem] after:absolute after:w-[15rem] after:h-[15rem] after:bg-color-primary after:rounded-full after:bottom-[-8rem] after:right-[-12rem];

		@screen lg {
			@apply before:left-[-7rem] after:right-[-7rem];
		}

		figure {
			@apply hidden lg:self-end lg:basis-1/4;

			@screen lg {
				@apply block;
			}
		}

		.cta-content {
			@apply flex flex-col items-center gap-4 lg:basis-9/12;

			h2 {
				@apply text-center;
			}

			p {
				margin-bottom: 1rem !important;
			}
		}

		@screen lg {
			width: calc(100% - 20%);
		}
	}

	/* FOOTER */
	.footer {
		@apply bg-color-primary text-white grid grid-cols-1 gap-2;

		.footer__row {
			width: calc(100% - 10%);
			@apply mx-auto py-8 flex items-start lg:items-center flex-wrap lg:flex-nowrap gap-10 lg:gap-6;

			@screen lg {
				width: calc(100% - 20%);
			}
		}

		.social-icons {
			@apply flex items-center gap-4;

			i {
				@apply bg-white text-color-primary w-10 h-10 grid  place-content-center rounded-full cursor-pointer;
			}
		}

		.footer__column {
			@apply w-full px-4 flex flex-col gap-4;

			.form-group {
				@apply flex w-9/12 lg:w-full bg-white rounded-full;

				input {
					@apply w-full rounded-full focus:outline-none;
					color: #282828 !important;
					padding: 0.8rem 1rem !important;

					@screen lg {
						padding: 0 1rem !important;
					}
				}

				.icon {
					@apply h-12 w-12 lg:h-10 lg:w-10 bg-color-secondary flex items-center justify-center rounded-full text-white;
				}
			}
		}

		nav {
			@apply py-4;
			border-top: 1px solid #eee !important;
			border-bottom: 1px solid #eee !important;

			ul {
				@apply flex items-center justify-center gap-10;
			}
		}

		.copyright {
			@apply py-4 text-center;
		}
	}
}
